  html::-webkit-scrollbar {
    width: 10px;
  }

  html::-webkit-scrollbar-thumb {
    background-color:#4070f4;
    border-radius: 100vh;
  }

  html::-webkit-scrollbar-track {
    background-color: #2d4481;
  }